---
import Spotlight from "./Spotlight";
import { TypingAnimation } from "./TypingAnimation";
---

<section id="about">
  <div class="mx-auto flex max-w-screen-xl flex-col gap-8 px-4 py-14 md:px-8">
    <div class="mx-auto max-w-5xl text-center">
      <div>
        <TypingAnimation
          client:visible
          className="text-3xl font-bold tracking-tight text-white md:text-5xl"
          text="<Sobre InspiraTEC/>"
        />
      </div>

      <p class="mt-4 text-base text-white/80">
        La Hackathon Inspiratec 2024 impulsa la creación de soluciones
        tecnológicas innovadoras con IA para desafíos de sostenibilidad.
      </p>

      <p class="mt-4 text-base text-white/80">
        En 48 horas, los participantes desarrollarán y presentarán ideas
        aplicables al mundo real, con el apoyo de mentores expertos en IA
        generativa, automatización y plataformas en la nube, garantizando
        propuestas viables y escalables.
      </p>

      <p class="mt-4 text-base text-white/80">
        Estas son las áreas en las que te desarrollarás:
      </p>
    </div>

    <div
      class="mx-auto grid w-full justify-center items-center grid-cols-1 md:grid-cols-3 gap-4"
    >
      <Spotlight client:visible>
        <div
          class="absolute inset-0 flex justify-end items-end opacity-50 transform rotate-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-56 h-56 text-white"
            fill="currentColor"
            version="1.0"
            viewBox="0 0 360 360"
            ><path
              d="M186.2 41.5c-5.3 6-11.5 15.7-14.4 22.5-8.1 19.4-5.2 35.8 8.9 49.6l6.3 6.3v17.8l-5.7.7c-24.9 2.9-48.1 21.2-58 45.6-6.4 16-6.9 33.7-1.4 49.5 1.7 5 2.6 9.1 2.1 9.3-.5.2-4.9 2.3-9.8 4.6-8.7 4.3-8.8 4.3-11.1 2.5-2.1-1.7-4.2-1.9-19.5-1.9-18.7 0-20.3.4-22.5 5.8-.8 2-1.1 11.4-.9 32.6l.3 29.8 3.3 2.9L67 322h16.1c16.8 0 18.8-.4 22.4-4.6 2.6-3 11.4-5.4 22.5-6.1 6.5-.4 12 .1 23.3 2.1 8.2 1.4 18.1 2.6 22.1 2.6 20.9 0 47.1-8.5 84.6-27.6 25.2-12.8 36-19.3 38.6-23.1 4.6-6.8 3.9-15.4-1.8-21.9-4.2-4.7-7.7-6.4-13.6-6.4-4.2 0-6.4.9-16.7 7-6.5 3.9-11.9 6.9-12.1 6.7-.2-.2 1.2-3.2 3.1-6.8 10.7-20.3 10.7-46.3-.1-66.9-7.2-13.7-19.4-25.6-33.1-32.1-6.7-3.2-19.8-6.9-24.5-6.9H195v-18l6.5-6.4c14.5-14.2 17.2-31.4 8-51.3-5.4-11.7-15-24.3-18.5-24.3-1 0-3.2 1.6-4.8 3.5zm7.6 10.5c6.9 9.3 11.6 20.1 12.7 29.5.8 5.9.7 6-1.2 4.2-2.7-2.3-4.2-2.2-7.5 1l-2.8 2.7v-4.2c0-3.1.7-4.9 2.9-7.4 4.8-5.6 5.5-7.7 3.5-9.9-1.2-1.3-2.6-1.8-4-1.5-1.7.5-2.3.1-2.8-1.8-.7-2.9-3.1-4-5.7-2.6-1.6.9-1.9 2.2-1.9 9.1v8l-2.9-2c-3.3-2.4-5.2-2.6-6.9-.9-1.7 1.7-1.5.7 1.3-6.8C180.9 63 189.4 49 190.9 49c.4 0 1.7 1.3 2.9 3zM187 99.2c0 4.9-.4 8.8-.9 8.8-1.3 0-5.4-5.5-8-10.8-1.2-2.4-2.5-7.3-2.8-10.9l-.6-6.7 6.1 5.4 6.2 5.4v8.8zm17.1-2.8c-2.2 5.1-6.9 11.6-8.2 11.6-.5 0-.9-1.4-.9-3.1 0-2.2 1.4-4.6 5.2-9 2.9-3.3 5.4-5.5 5.6-5 .2.6-.6 3-1.7 5.5zm2.3 51.6c7.6 1.9 18.9 7.2 23.4 11l2.4 2-3.8 4.6-3.8 4.6 2.4 6.7c2.2 6.4 2.2 7.2 1 13-1.1 5.1-1.1 7.2 0 11.6 1.6 6.7.8 8-5.8 8.9-4.3.6-5.3 1.3-11.9 8.5-4 4.4-7.3 8.8-7.3 9.8s1 5.1 2.2 9.2c2.2 7.3 2.2 7.4 7.5 9.8l5.3 2.5 8-2.7c7.7-2.6 8.1-2.9 10.3-7.3 2-4.1 2.8-4.8 8.5-6.9 7.6-2.8 7.8-2.2 2.5 8.1-5.3 10.1-16.5 21.2-26.3 25.9-4.1 1.9-8.7 3.8-10.1 4.1-2.6.6-2.6.5-2.2-3.7.5-4.7-1.9-9.5-5.9-12.1-1.3-.8-7.7-3.2-14.3-5.2-6.6-2.1-12.1-3.9-12.3-4-.2-.1.8-1.3 2.1-2.6s3.2-4.8 4.2-7.7c1.5-4.5 1.5-5.7.4-8-.7-1.4-1.4-2.9-1.6-3.3-.2-.4 1.7-2.7 4.2-5.1 3.7-3.7 4.5-5.1 4.5-8.2 0-4.4-2.4-9.8-5.4-12.3-1.1-1-2.8-3.1-3.6-4.7-1.2-2.3-2.9-3.5-7.7-5.1-6.4-2.1-9.6-4.1-8.8-5.4.2-.4 3.1-1.3 6.4-2 11.4-2.4 17.3-7.6 17.5-15.4.1-5.3-2.3-9.2-7.5-11.9-2.7-1.5-4.8-1.7-10.6-1.2-12 1-9.9-1.8 4.2-5.5 9.5-2.5 22.1-2.5 31.9 0zM161 161c2.5.4 6.8.6 9.6.3 6.7-.7 9.4.7 9.4 5 0 2.8-.6 3.6-3.4 5-1.9.9-6.3 2.3-9.8 3.2-7.4 2-10.8 4.7-10.8 8.8 0 6.2 5.6 11.8 13.2 13.1 2.8.5 4.2 1.4 5.3 3.6.8 1.6 2.4 3.4 3.4 3.9 1 .6 2.4 2.4 3.1 4.1 1.2 2.9 1.1 3.2-2.8 6.8-4.6 4.3-5.9 7.8-4.3 12.3 1.3 3.7 1.4 6.9.3 6.9-.4 0-1.7-2.6-3-5.8-3.5-9-7.6-14.9-11.9-16.9l-3.8-1.8.3-6.7c.4-7.3 1.1-6.3-9.3-13.1-2.7-1.7-6.4-5.2-8.2-7.5-3.3-4.4-3.3-4.4-1.6-7.5 1-1.7 4.6-6 8-9.5 5.6-5.8 6.6-6.3 9-5.7 1.6.4 4.8 1.1 7.3 1.5zm81.3 10.7c8.2 11.3 12.7 25 12.7 38.7 0 10-.7 12.6-3.1 12.6-2.7 0-18 5.9-19.8 7.6-.8.7-2 2.8-2.5 4.6-.9 2.6-2 3.6-6 5.1-4.3 1.6-5.1 1.6-7.1.3-1.3-.8-3-3.7-3.9-6.3l-1.7-4.8 5.8-5.6c5.1-4.9 6.4-5.7 11.1-6.3 5.1-.6 5.3-.8 7.8-5.8 2.6-5.2 2.6-5.2 1-10.4-1.5-4.8-1.5-5.9-.1-11.8 1.4-6.3 1.4-6.9-.6-12.1-2-5.3-2-5.5-.2-7.9 1-1.4 2.1-2.6 2.5-2.6.3 0 2.2 2.1 4.1 4.7zm-106.8 19.4c2.2 2.2 5.9 5.2 8.2 6.5 4.2 2.5 4.2 2.6 3.6 7.3-.7 6.1 1.5 10.4 6.5 13 2.1 1.1 4.4 2.6 5 3.4 1.2 1.4 10.3 21.9 9.9 22.3-.1.1-4-.9-8.7-2.2-6.7-2-10.5-2.5-18-2.3l-9.5.2-3-8.4c-2.7-7.6-3-9.6-2.9-20.4 0-8.7.5-13.6 1.8-17.8.9-3.1 2.1-5.7 2.5-5.7.4 0 2.5 1.8 4.6 4.1zm152.4 56.5c1.8 1.5 3.3 3.9 3.7 5.8 1.1 6.1-1.1 8.4-16.3 16.8-41.2 22.7-69.6 34-92.8 36.8-9.7 1.2-13.6 1-32-2.2-13.5-2.3-28.9-2.1-38.2.6l-5.3 1.4v-46.9l10.3-4.8c22.6-10.6 25.8-10.6 58.7-.2 13.2 4.2 23 7.8 23.8 8.8 1.8 2.5 1.5 6-.9 8.4-2 2-2.9 2.1-9.9 1.5-10.4-.8-20.8-3.6-32.7-8.6-12.6-5.4-14.8-5.8-16.2-3.1-1.8 3.3 1.8 6 14.1 10.9 31.6 12.6 52.1 12.1 79.9-1.9 4.2-2.1 14.5-7.9 23-13 24.8-14.8 25.3-15 30.8-10.3zM98.8 283c.1 14.6 0 27.5-.3 28.8-.5 2.2-.7 2.3-15.3 2l-14.7-.3-.3-28.8-.2-28.8 15.2.3 15.3.3.3 26.5z"
            ></path><path
              d="M76.7 263c-5.9 4.7-5.6 14.3.7 18.1 9.1 5.5 19.9-2.6 16.6-12.6-1.6-4.8-5.3-7.5-10.5-7.5-2.7 0-5.1.7-6.8 2zm9.6 7.2c.6 1.8-1.1 4.8-2.7 4.8-2 0-3.7-2.5-3-4.4.7-1.9 5-2.2 5.7-.4z"
            ></path></svg
          >
        </div>

        <div class="relative p-4 z-10">
          <h3
            class="font-bold text-lg md:text-xl lg:text-2xl tracking-widest text-black"
          >
            &lt;SOSTENIBILIDAD&gt;
          </h3>
        </div>
      </Spotlight>

      <Spotlight client:visible>
        <div
          class="absolute inset-0 flex justify-end items-end opacity-50 transform rotate-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-56 h-56 text-white"
            version="1.0"
            viewBox="0 0 626 626"
            fill="currentColor"
            ><path
              d="M80 64.9C66.6 69.3 58.1 80 57.2 93.6c-.8 13.3 5.3 24.4 16.5 29.9l6.2 3V168c.1 23.6.6 44.3 1.2 48 .5 3.7 2.7 10 4.9 14.6 5.3 11 15.5 20.7 26.8 25.6l7.7 3.3 29.8.3 29.7.3V304h-62.7l-2.3-5.1c-3.1-6.4-11.4-14.2-17.6-16.3-2.6-.9-7.9-1.6-11.8-1.6-12.2 0-22.6 6.5-28.1 17.7-2.5 4.9-2.9 7-2.9 13.8 0 6.7.4 8.9 2.7 13.7 3.2 6.6 8.9 12.1 16.1 15.4 6.2 2.9 16.8 3.2 24 .8 6.2-2.1 14.5-9.9 17.6-16.3l2.3-5.1H180v38h-26.2c-19.7 0-27.9.4-32.6 1.5-17.8 4.2-32.7 18-38.3 35.4-1.8 5.4-2.3 9.9-2.7 25.3l-.4 18.6-4.4 1.7c-5.5 2.1-12.4 8.9-15.6 15.2-1.9 4-2.3 6.4-2.3 13.8 0 7.8.4 9.7 2.7 14.1 3.5 6.7 11.5 13.8 18 16 7.7 2.5 18.8 1.6 25.7-2.1 12.7-6.9 19.2-21.7 15.7-35.4-2.7-10.4-10.1-19-19.3-22.3l-3.5-1.3.4-18c.3-17 .5-18.3 3-23.7 3.5-7.6 10.7-15.1 17.7-18.5l5.6-2.8 28.3-.3 28.2-.3v11.8c0 19.6 3.9 30.2 15.5 41.9 12.8 13 20.4 15.5 48.9 16.1l20.9.5-.6 7.2c-1.1 14.6-8.2 25.8-20 31.6-3.4 1.6-7.6 3.3-9.3 3.6-2.9.6-3.2.3-5.8-4.9-5.2-10.8-14.6-16.8-27.2-17.5-7.3-.4-8.8-.1-14.3 2.3-7 3.2-13.2 9.3-16.4 16.3-1.7 3.6-2.2 6.6-2.2 12.7.1 10.5 2.7 16.7 10.1 23.4 15.7 14.4 40.6 9.7 50-9.4 1.4-3 2.7-5.5 2.8-5.5 3.6 0 13.9-3 19.5-5.7 8.1-3.9 17.8-12.7 22.3-20.3 4.2-7.3 6.8-17.2 6.8-26.1V446h24v51.9l-4.5 2c-6.3 2.8-13.9 10.2-16.6 16.4-3.5 7.9-3.4 19.2.4 26.9 3.5 7.1 10.1 13 17.6 15.9 4.4 1.7 7.1 2 13.1 1.7 12.1-.7 21.5-6.9 26.7-17.6 3.8-7.7 3.9-19 .4-26.9-2.7-6.2-10.3-13.6-16.6-16.4l-4.5-2V446h37v19.2c0 20.8.8 25.8 5.5 35.4 3.4 7 11.5 15.8 18.9 20.6 6.5 4.2 16.8 7.8 22.2 7.8 3.1 0 3.6.5 6.3 5.9 10.1 19.9 36 24.1 51.7 8.4 11.4-11.4 11.8-31 .8-43.2-8.3-9.2-20.6-12.9-31.9-9.6-10.2 2.9-18.5 10.3-21.7 19.1-1.1 3.2-1.4 3.4-4.8 2.8-6.9-1.2-14.8-5.5-19.9-10.8-9.2-9.9-11.1-16.5-11.1-40.1v-15.2l14.3-.6c20.4-.8 29.4-3.9 40.5-14.2 11.7-10.8 16.1-20.7 17.1-38.4l.6-11.3 26.5-.1c25 0 26.8.1 32.2 2.2 10.7 4.2 18.4 12.3 21.8 23 1.9 5.9 2 9.1 2 48.7v42.3l-5.2 2.6c-7.3 3.6-12.1 8.6-15.4 15.9-7.1 15.8-.4 34 15.2 41.7 4.1 2 6.4 2.4 13.9 2.4 7.8 0 9.7-.4 14-2.7 14.8-7.8 21.3-24.7 15.4-40.3-2.5-6.8-9.8-14.4-16.3-17.1l-4.6-1.9V457c0-22.9-.5-44.4-1-48-3.1-19.5-19.4-37.3-39.1-42.5-4.1-1.1-12.2-1.5-32.6-1.5H446v-44h62.7l2.3 5.1c3.1 6.4 11.4 14.2 17.6 16.3 2.6.9 7.9 1.6 11.8 1.6 12.5 0 23.7-7.3 28.9-18.9 3.3-7.1 3-18.8-.6-26.3-3-6.2-8.3-11.5-14.9-15-3.6-1.9-5.8-2.3-13.8-2.3s-10.2.4-14 2.3c-6.3 3.3-12.5 9.7-15 15.4l-2.1 4.8H446v-38h26.8c29 0 33.2-.5 44-5.7 6.8-3.3 18.9-14.9 22.2-21.3 5.5-10.9 6.2-14.4 6.7-34.5l.5-19.1 4.5-1.8c10.5-4.4 18.3-16.5 18.3-28.5 0-9.6-2.5-15.7-9.5-22.7-7-7.1-12.5-9.4-22.2-9.4-12.5 0-22.9 6.4-28.4 17.6-2.8 5.6-3.2 7.6-3.2 13.9 0 6.3.4 8.3 3.2 13.9 3.6 7.3 9 12.6 15.8 15.3l4.4 1.8-.3 18c-.3 17.4-.4 18.2-3.2 24.2-3.4 7.3-11.3 15.3-18.3 18.6-4.5 2.1-6.4 2.2-33 2.5l-28.3.3v-11.8c0-12.9-1.4-20-5.6-28.9-5.3-11.3-18.4-22.4-31.3-26.5-5.6-1.8-9.9-2.2-27.3-2.7l-20.8-.4v-4.7c0-10.7 5.2-22.5 12.8-29.2 3.9-3.4 11.7-7.3 16.9-8.4 3.1-.6 3.3-.4 5.8 4.8 6.8 14.4 24.3 21.4 40 16 7.1-2.4 15.6-11 18.5-18.8 4.6-12.4 1.2-25.7-9-34.8-6.2-5.6-12.2-7.7-21.5-7.7-6 0-8.2.5-13.3 3-6.8 3.5-12.5 9.2-15.3 15.6-1.7 3.7-2.5 4.4-5.7 4.9-26.4 4.5-45.2 25.9-45.2 51.6v7.9h-24v-51.9l4.8-2.1c6.1-2.6 13.4-10 16.4-16.5 3.5-7.6 3.3-19.1-.5-26.7-11.6-23.6-45.9-23.6-57.4 0-3.7 7.7-4 19.1-.5 26.7 3 6.5 10.3 13.9 16.4 16.5l4.8 2.1V179h-37v-19.3c0-10.5-.5-21.2-1.1-23.7-2.8-12.1-12.1-24.9-23.3-32.2-6.5-4.2-16.8-7.8-22.2-7.8-3.1 0-3.6-.5-6.3-5.8-3.4-6.7-9.3-12.5-16-15.5-3.5-1.7-6.5-2.2-12.6-2.2-10.5.1-16.7 2.7-23.4 10.1-14.5 15.8-9.7 40.6 9.7 50.1 4.8 2.4 6.9 2.8 13.7 2.7 6.6 0 9-.5 13.7-2.7 6.4-3.1 11.6-8.4 15.2-15.5l2.5-5 4.5.9c6.8 1.2 13.6 5.1 18.8 10.7 9 9.6 10.8 16.2 10.8 39.1v15.8l-14.2.6c-21.7.8-33.1 5.4-44.1 17.7-9.1 10.1-12.8 19.8-13.6 35.5l-.6 11-22.5.3c-13.2.2-25.2-.2-28.9-.8-10.8-1.9-18.7-6.8-24.4-15.3-6.5-9.5-6.7-11.2-6.7-58.3v-42.2l5.5-2.6c19.7-9.7 24.1-36.3 8.5-51.4-6.2-6.1-12-8.5-20.9-8.8-4.2-.2-8.7 0-10.1.5zm17 18.3c11.8 8.1 7.1 26-7.1 27.5-8.9.9-15.9-5.9-15.9-15.3 0-4.6.5-5.9 3.2-9 3.8-4.3 5.9-5.3 11.9-5.3 3.2-.1 5.6.6 7.9 2.1zm223.8-.2c9.7 5.9 9.5 20.1-.4 25.7-2.1 1.3-5.5 2.3-7.4 2.3-4.7 0-10.9-3.8-13.1-8-5.4-10.1 1.6-22 13.1-22 2.7 0 5.8.8 7.8 2zM194 91.2c5.4 3.7 7.4 7.2 7.4 12.8 0 5.6-2 9.1-7.4 12.7-9.1 6.3-22.5-1.2-22.5-12.6 0-11.8 13.1-19.3 22.5-12.9zM433.4 115c4.6 2.8 7 8 6.4 14.2-1.2 11.6-15 17.5-23.9 10.1-5.7-4.8-7.3-11.1-4.5-17.6 3.8-8.9 13.7-11.9 22-6.7zm112.1 27.1c9.5 5.7 8.9 19.9-1.1 25.7-12.3 7.2-27.1-6.7-20.6-19.4 2.5-4.9 4-6.2 8.9-7.9 4.4-1.5 8.5-1 12.8 1.6zm-137.7 57.3c8.1 3.7 16.2 12.3 19.1 20.1 2.1 5.6 2.1 6.4 1.9 94.3l-.3 88.7-2.7 5.5c-3.7 7.5-10 13.7-17.8 17.4l-6.5 3.1h-177l-6.2-2.9c-7.3-3.4-15.3-11.3-18.6-18.3l-2.2-4.8v-180l2.2-4.7c4.3-9.3 14.3-17.7 24.2-20.4 3.5-1 24.7-1.2 91.1-1.1l86.5.2 6.3 2.9zM94.6 300.1c6.2 3.8 8.4 14 4.4 20.5-1.2 1.8-4 4.2-6.5 5.4-14.7 7.1-28.2-11.2-17.3-23.5 5-5.7 12.5-6.6 19.4-2.4zm453.4-.2c9.2 6.6 9.2 18.4 0 25.3-4.1 3-9.2 3.4-14.2.9-6.4-3.2-8.3-6.4-8.3-13.8 0-5.7.3-6.5 3.5-9.8 5.5-5.7 13.2-6.7 19-2.6zM96.9 457.7c4.8 3.7 6.6 7.1 6.6 12.8 0 6.5-2.2 10-8.6 13.3-4.9 2.5-9.2 2.3-14.2-.6-6.6-3.9-8.8-14-4.5-21 4.1-6.7 14.6-9 20.7-4.5zm112 27.2c6.2 4.4 8.8 12.9 5.7 18.8-3.9 7.6-11.6 10.7-19.1 7.8-16.3-6.2-9.7-31.3 7.5-28.8 1.9.3 4.6 1.3 5.9 2.2zm237 22.6c7.4 3.8 10.5 11.5 7.6 19.1-2.5 6.6-7.7 9.8-15 9.2-4.6-.4-6.1-1-9.1-3.8-5.9-5.9-6.4-13.9-1.2-20.5 4-5.1 12.1-7 17.7-4zM320 516.2c15 7.8 6.8 31.3-9.7 27.8-8-1.7-12.6-7.8-12-15.6.4-6.1 2.8-9.6 8.2-12.4 5.1-2.6 8-2.5 13.5.2zm225.9.7c11.8 8.5 6.1 27.3-8.3 27.3-13.2 0-20.2-14.4-11.9-24.3 5.3-6.2 13.9-7.5 20.2-3z"
            ></path><path
              d="M269.8 252.7c-2.2 2.7-44.1 116.7-43.6 118.9.3 1.7 1.4 1.9 12.4 2.2 9 .2 12.4-.1 13.2-1 .6-.8 2.8-5.8 4.9-11.3l3.9-10h50.6l3.6 9.6c2.1 5.3 4.3 10.3 5.1 11.2 1.1 1.4 3.4 1.7 13.2 1.7 10.6 0 11.8-.2 12.4-1.9.5-1.8-41.4-117.1-43.7-119.8-.8-1-5-1.3-15.8-1.3-12.8 0-14.9.2-16.2 1.7zm25.2 49.4c4.7 13.3 8.6 24.7 8.8 25.5.3 1.2-2.7 1.4-17.6 1.4-9.8 0-18.1-.2-18.4-.5-.6-.6 17.3-50.5 18.1-50.5.3 0 4.4 10.9 9.1 24.1zm67-48.6c-.9 2.5-.4 118.1.6 119.7.8 1.3 24.8 1 26.2-.4 1.7-1.7 1.7-118.9 0-120.6-.8-.8-5.3-1.2-13.5-1.2-12.2 0-12.4 0-13.3 2.5z"
            ></path></svg
          >
        </div>

        <div class="relative p-4 z-10">
          <h3
            class="font-bold text-lg md:text-xl lg:text-2xl tracking-widest text-black"
          >
            &lt;INTELIGENCIA ARTIFICIAL&gt;
          </h3>
        </div>
      </Spotlight>

      <Spotlight client:visible>
        <div
          class="absolute inset-0 flex opacity-40 justify-end items-end transform rotate-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-56 h-56 text-white"
            version="1.0"
            viewBox="0 0 1200 1200"
            fill="currentColor"
            ><path
              d="M597 154.2c-6.3 4.2-7 6.9-7 27.8 0 15.8.3 19.1 1.9 22.6 4.7 10.3 20.3 9.8 25.1-.9 1.7-3.6 2-6.6 2-21.6 0-15.5-.2-17.9-2-21.5-2.6-5.3-6.2-7.8-11.9-8.4-3.6-.3-5.3.1-8.1 2zm-177.6 45.2c-4.2 1.9-7.6 7.5-7.6 12.9 0 3.6 1.5 6.9 9.2 20.2 5 8.8 10.3 17 11.8 18.2 3.9 3.3 10.2 4 14.8 1.7 5.6-2.8 7.9-6.5 7.9-12.7-.1-4.6-.9-6.6-7.4-17.7-4.1-6.9-8.5-14.2-9.8-16.3-4.4-7-11.7-9.4-18.9-6.3zm354.6 4.8c-2.1 1.6-6.3 7.6-12.6 18.3-10 17.2-11.2 21.1-7.9 27.5 3.7 7.1 13.8 9.7 20.2 5.2 2.3-1.6 10.3-13 10.3-14.6 0-.2 2.7-5 6-10.7 4.1-7.1 6-11.4 6-13.7 0-4.4-3.4-10.4-7-12.5-4.1-2.5-11-2.2-15 .5zM588 234c-69.6 4.1-134.5 32.6-184.4 80.9-45.8 44.4-74.5 98.6-85 160.9-9.9 57.9-1.9 112.2 24.9 168.7 10.5 22.2 21.6 41.6 49 85.5 32.2 51.6 42.2 69.1 54.9 96 9.4 19.9 15.4 35.8 22.7 60.5 2.1 7.3 5 27.4 6.4 44 1.9 24.2 3.9 81 3.2 96.6-.5 14.2.2 16.9 5.2 21.2l3.3 2.7h115.6c113 0 115.8-.1 118.9-2 6.2-3.7 6.3-4.6 6.3-39.2 0-50.3 3-97.1 7.5-116.3 5.1-22.1 16.2-51.8 28.8-77 9.4-19 30.4-55.2 45.5-79 28.5-44.5 53.5-89.8 62.7-113.5 9.1-23.4 15.4-45.8 18.7-67 1.8-11.5 1.8-58.2 0-71-7.5-53.1-27.1-99.4-60.1-142-8.1-10.5-28.7-31.8-40.1-41.5-36.2-30.8-81.9-53.1-129-63-21.2-4.5-53.1-6.8-75-5.5zm47.5 30c16.6 2.1 19.7 2.7 36.7 7 32.3 8.3 69.3 27.1 96.3 49 12 9.7 26.7 24.2 36.9 36.5 11.7 14.1 13.1 15.9 20.8 28.5 17.6 28.6 28.4 56 34.8 88 9.7 48.6 5.4 91.8-14 140-10.2 25.6-25.2 52.7-59.8 108.6-24.8 40.2-34.8 57.4-45.4 78.3-7 13.9-17.2 37-21 47.6l-1.4 4-17.7.3-17.7.2v-91.2c0-57.1-.4-92.6-1-94.9-1.4-4.9-5.9-8.9-10.8-9.6-8.8-1.2-14 2.5-17.3 12.5-7.8 23.5-20.5 41.4-35.1 49.3-5.9 3.2-6.9 3.4-15.3 3.4-8.2 0-9.6-.3-15.2-3.2-14.9-7.8-26.1-23.9-36.7-52.6-2.4-6.3-7.2-9.7-13.9-9.7-4.2 0-5.3.5-9 3.9l-4.2 4-.3 94-.2 94.1h-35.9l-3.1-8.3c-12.4-32.8-30.3-66.4-62.8-118.2-28.6-45.5-39.1-63.4-50.1-85.5-29.3-58.9-36.5-108.5-24.6-170.2 3.5-18.3 11.3-40.4 22-62.3 25.3-51.8 69.3-95.1 122.5-120.3 44.2-21 95.2-29.3 142.5-23.2zm-77.9 466.1c4.8 5.1 16 12.6 23.9 15.8 22.9 9.6 48.6 4 68.8-14.7l4.7-4.5V852l-50.7-.2-50.8-.3-.3-62.3c-.1-34.2.2-62.2.6-62.2.5 0 2.1 1.4 3.8 3.1zm152 152.6c-1.1 5.5-4.5 26.9-5 32.5-.3 3.2-.9 8.3-1.2 11.3l-.5 5.5H505.2l-.7-6.8c-1.4-15.6-2.7-24.8-4.5-34-1.1-5.3-2-10-2-10.5 0-.4 47.8-.7 106.1-.7h106.1l-.6 2.7zm-8.6 87.6c0 5.7-.3 19.9-.7 31.5l-.6 21.2H508v-17.8c0-9.9-.3-24-.7-31.5l-.6-13.7H701v10.3zM288.5 328.4c-5.1 2.3-7.7 6-8.3 11.6-.7 7.7 2.1 11.2 14.9 18.3 5.7 3.2 13.1 7.3 16.4 9.2 9.2 5.3 17.9 4.2 22-2.8 2.6-4.3 2.5-11.9-.2-15.5-1.1-1.5-9.1-6.9-17.9-12.1-16.9-9.9-21.3-11.4-26.9-8.7zm616 6.6c-9.4 4.4-31 17.7-32.8 20.1-4.6 6.3-2.3 17 4.5 20.5 6.3 3.2 11.6 1.7 28.8-8.2 17.1-9.9 20-12.8 20-19.8 0-10.6-10.8-17.2-20.5-12.6zM241 505.1c-6.9 1.4-12 9.9-10 16.8 2.8 10 5.7 11.1 29.5 11.1 23.9 0 26.8-1.1 29.6-11.3.9-3.3.7-4.5-1.3-8.5-4.2-8.3-5.3-8.7-26.3-8.7-10.1 0-19.7.3-21.5.6zm676.5 8.9c-8.4 5.5-8.6 18.9-.3 24 3.1 1.9 4.6 2 24.5 1.8l21.2-.3 3.1-3c6.5-6.2 6.3-15.4-.5-21.4l-3.6-3.1h-20.7c-18.9 0-21 .2-23.7 2z"
            ></path></svg
          >
        </div>

        <div class="relative p-4 z-10">
          <h3
            class="font-bold text-lg md:text-xl lg:text-2xl tracking-widest text-black"
          >
            &lt;CREATIVIDAD&gt;
          </h3>
        </div>
      </Spotlight>
    </div>

    <div class="mx-auto max-w-3xl">
      <div class="flex gap-4 flex-col md:flex-row">
        <a
          href="/programa.pdf"
          target="_blank"
          class="group uppercase ring-border-focus focus-visible:ring-offset-bg outline-none ring-0 focus-visible:ring-2 focus-visible:ring-offset-2 ring-offset-background disabled:bg-bg-disabled disabled:text-fg-disabled inline-flex shrink-0 cursor-pointer items-center justify-center gap-2 whitespace-nowrap rounded-2xl text-lg font-medium leading-normal transition-colors disabled:cursor-default bg-brand2 hover:bg-brand2/80 active:bg-brand2/80 h-14 px-6 [&_svg]:size-4 text-black"
        >
          Descargar programa<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right ml-1 size-8 transition-all duration-300 ease-out group-hover:translate-x-1"
            ><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
        <a
          href="/bases.pdf"
          target="_blank"
          class="group uppercase ring-border-focus focus-visible:ring-offset-bg outline-none ring-0 focus-visible:ring-2 focus-visible:ring-offset-2 ring-offset-background disabled:bg-bg-disabled disabled:text-fg-disabled inline-flex shrink-0 cursor-pointer items-center justify-center gap-2 whitespace-nowrap rounded-2xl text-lg font-medium leading-normal transition-colors disabled:cursor-default bg-brand2 hover:bg-brand2/80 active:bg-brand2/80 h-14 px-6 [&_svg]:size-4 text-black"
        >
          Descargar bases<svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-right ml-1 size-8 transition-all duration-300 ease-out group-hover:translate-x-1"
            ><path d="m9 18 6-6-6-6"></path></svg
          >
        </a>
      </div>
    </div>
  </div>
</section>
