---
import { TypingAnimation } from "./TypingAnimation";
---

<section id="evaluation-process" class="bg-brand1">
  <div class="mx-auto flex max-w-screen-xl flex-col gap-8 px-4 py-14 md:px-8">
    <div class="mx-auto max-w-5xl text-center">
      <TypingAnimation
        client:visible
        className="text-3xl font-bold tracking-tight text-white md:text-5xl"
        text="<Proceso de Evaluación Final/>"
      />
    </div>

    <div
      class="mx-auto max-w-5xl flex flex-col lg:flex-row justify-between items-center gap-12"
    >
      <div class="max-w-lg">
        <p class="mt-4 text-base text-white/80">
          Al concluir el Hackathon, los 5 equipos finalistas presentarán sus
          proyectos ante el jurado evaluador en la ceremonia presencial el 25 de
          noviembre de 2024.
        </p>

        <p class="mt-4 text-base text-white/80">
          Cada equipo tendrá 10 minutos para exponer su propuesta. Luego de las
          presentaciones, el jurado seleccionará a los 3 equipos ganadores,
          quienes recibirán sus respectivos premios.
        </p>
      </div>

      <div class="flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 101 106"
          class="text-white max-w-40 w-full h-auto transform hover:rotate-12 hover:scale-110 transition-transform delay-150 duration-300 ease-in-out"
          ><path
            fill="currentColor"
            d="M3.07.484C2.012.875 1.192 1.62.682 2.681l-.474.968v42.894c0 32.356.055 43.08.219 43.638.31 1.043 1.439 2.29 2.477 2.7.82.316 2.241.335 30.552.335 32.373 0 30.46.056 31.717-1.08 1.056-.931 1.403-1.843 1.512-3.928l.11-1.843 1.493-.522a20.616 20.616 0 0 0 5.684-3.072l1.348-1.023.838.837.838.857-.947.968c-.51.54-1.057 1.247-1.22 1.582-.401.82-.365 2.383.072 3.295.237.503 2.842 3.296 7.415 7.968 7.269 7.41 7.906 7.95 9.254 7.969 1.44 0 1.895-.317 4.956-3.407 3.57-3.593 4.008-4.375 3.516-6.274-.183-.745-.966-1.62-7.615-8.452-4.19-4.282-7.67-7.708-7.998-7.857-.783-.353-2.314-.335-3.024.038-.328.167-1.02.726-1.549 1.247l-.947.968-.838-.856-.82-.857 1.002-1.377c4.737-6.405 5.447-15.378 1.84-22.695-2.368-4.784-6.904-8.768-11.969-10.5l-1.33-.465-.09-14.335-.092-14.354-.546-.521c-.292-.298-3.935-3.872-8.053-7.931L50.49.224H27.135C8.08.242 3.635.279 3.07.484Zm45.635 8.434c.055 6.72.036 6.627 1.257 7.838 1.239 1.247 1.257 1.247 8.052 1.303l6.14.056V44.16H61.62c-2.805 0-4.882.298-6.94 1.024-6.723 2.346-11.897 8.042-13.664 15.042-2.46 9.849 2.113 20.032 11.022 24.575 3.06 1.564 5.848 2.197 9.619 2.197h2.496v.93c0 1.099-.365 2.104-.875 2.383-.273.15-9.09.205-29.895.205H3.87l-.51-.447-.51-.446-.055-42.727L2.76 4.19l.382-.503c.219-.279.565-.595.784-.67.2-.093 10.366-.167 22.553-.167L48.65 2.83l.055 6.088Zm8.052 1.173c2.86 2.81 5.21 5.194 5.21 5.268 0 .075-2.186.13-4.845.093l-4.846-.056-.529-.614-.528-.596V9.514c0-2.625.073-4.636.164-4.599.091.019 2.496 2.364 5.374 5.176Zm9.073 37.197c3.334.912 5.757 2.29 8.107 4.58 2.714 2.624 4.39 5.51 5.374 9.196.565 2.066.565 6.944 0 9.01-1.73 6.48-6.34 11.506-12.334 13.424-2.259.726-4.008.949-6.522.819-9.855-.484-17.434-8.62-17.434-18.748 0-9.103 6.249-16.81 15.03-18.542 1.876-.373 5.975-.224 7.779.26Zm24.576 41.497c3.88 3.984 7.086 7.353 7.14 7.502.037.15-.036.484-.163.745-.346.689-5.01 5.343-5.52 5.492-.383.112-1.22-.67-7.597-7.186-5.593-5.715-7.178-7.428-7.178-7.782 0-.67 5.192-5.976 5.83-5.976.364 0 2.022 1.62 7.487 7.205Z"
          ></path><path
            fill="currentColor"
            d="M8.88 19.064c-.254.354-.29 1.192-.29 5.399 0 4.747.018 5.008.364 5.362.346.353.6.372 6.248.372 5.757 0 5.903 0 6.25-.39.309-.355.345-.783.4-5.065.036-2.588.018-4.877-.055-5.1-.237-.988-.182-.988-6.65-.988-5.975 0-5.993 0-6.266.41Zm10.276 5.362v3.165H11.14v-6.33h8.016v3.165ZM25.66 20.665c-.474.54-.401 1.434.163 1.88.474.391.601.391 14.301.391 13.59 0 13.828 0 14.192-.372.474-.484.474-1.508.036-1.918-.31-.297-1.566-.316-14.373-.316-13.354 0-14.046.019-14.32.335ZM29.394 26.213c-.528.372-.546 1.415-.036 1.936.364.372.601.372 10.639.372 9.51 0 10.293-.018 10.64-.335.582-.484.673-1.172.218-1.768l-.383-.503H40.124c-9.054 0-10.365.037-10.73.298ZM9.063 35.987l-.474.372v10.202l.474.373c.474.372.692.39 6.176.39 5.338 0 5.72-.018 6.121-.353l.437-.354V36.303l-.437-.353c-.4-.335-.783-.354-6.121-.354-5.484 0-5.702.019-6.176.39Zm10.093 5.473v3.258l-3.954-.037-3.971-.056-.055-2.978c-.018-1.62 0-3.072.037-3.203.073-.186.984-.242 4.026-.242h3.917v3.258ZM25.823 37.663c-.6.484-.655 1.433-.09 1.954.364.335.874.354 14.282.354s13.918-.019 14.283-.354c.382-.353.51-1.303.237-1.712-.401-.615-.875-.633-14.575-.633-13.536 0-13.663 0-14.137.39ZM29.904 42.987c-.564.205-.91.689-.91 1.247 0 .69.127.913.674 1.21.51.261 20.02.298 20.731.019 1.039-.41.948-2.03-.127-2.402-.583-.204-19.821-.279-20.368-.074ZM8.99 53.152c-.382.428-.4.558-.4 5.38 0 4.599.018 4.97.345 5.38l.347.447 5.61.056c5.976.056 6.432 0 6.796-.819.128-.316.2-2.085.2-5.213v-4.747l-.455-.447-.437-.465H9.373l-.383.428Zm10.166 5.343v3.165H11.14v-6.33h8.016v3.165ZM25.714 54.772c-.473.484-.473 1.508-.036 1.917.31.28 1.02.317 6.558.317 5.994 0 6.249-.02 6.595-.373.492-.502.455-1.229-.091-1.768l-.437-.466h-6.121c-5.867 0-6.122.019-6.468.373ZM27.263 60.45c-.547.54-.583 1.266-.091 1.768.346.354.6.373 5.064.373 4.5 0 4.737-.019 5.046-.373.474-.54.438-1.47-.072-1.899-.383-.297-.82-.335-4.974-.335H27.7l-.437.466ZM59.6 49.373c-6.65.837-11.933 5.547-13.682 12.194-.565 2.103-.547 5.883 0 8.005.455 1.769 1.348 3.742 2.35 5.25.838 1.247 2.987 3.426 4.281 4.32 5.065 3.518 12.406 3.574 17.544.092 3.461-2.346 6.066-6.236 6.904-10.314.346-1.694.346-4.989 0-6.665-1.257-6.18-6.103-11.226-12.023-12.566-1.658-.372-3.9-.503-5.375-.316Zm5.92 3.22c2.04.69 3.607 1.676 5.21 3.295 1.567 1.602 2.66 3.352 3.389 5.492.455 1.36.492 1.713.492 4.19 0 2.475-.037 2.83-.492 4.188-1.421 4.17-4.5 7.317-8.599 8.787-1.348.466-1.676.522-4.099.503-2.368 0-2.787-.037-4.099-.503a13.719 13.719 0 0 1-8.854-9.587c-.51-1.955-.492-4.822 0-6.795.62-2.42 1.676-4.264 3.57-6.2 1.386-1.415 1.914-1.806 3.371-2.55 2.423-1.21 3.425-1.434 6.285-1.36 1.968.038 2.624.15 3.826.54Z"
          ></path><path
            fill="currentColor"
            d="M67.433 59.184c-.146.056-2.387 2.234-4.955 4.859l-4.682 4.766-1.276-1.248c-.692-.688-1.42-1.247-1.62-1.247-.62 0-1.313.708-1.313 1.34 0 .466.31.894 1.767 2.42.984 1.006 1.95 1.881 2.168 1.937.22.056.638-.019.911-.168.292-.167 2.842-2.662 5.684-5.566 5.575-5.734 5.63-5.809 4.682-6.758-.419-.447-.801-.54-1.366-.335Z"
          ></path></svg
        >
      </div>
    </div>
  </div>
</section>
