---
import { TypingAnimation } from "./TypingAnimation";
---

<section id="evaluation-process" class="bg-brand1">
  <div class="mx-auto flex max-w-screen-xl flex-col gap-8 px-4 py-14 md:px-8">
    <div class="mx-auto max-w-5xl text-center">
      <div>
        <TypingAnimation
          client:visible
          className="text-3xl font-bold tracking-tight text-white md:text-5xl"
          text="<Proceso de Evaluación Final/>"
        />
      </div>

      <p class="mt-4 text-base text-white/80">
        Al concluir el Hackathon, los 5 equipos finalistas presentarán sus
        proyectos ante el jurado evaluador en la ceremonia presencial el 25 de
        noviembre de 2024.
      </p>

      <p class="mt-4 text-base text-white/80">
        Cada equipo tendrá 10 minutos para exponer su propuesta. Luego de las
        presentaciones, el jurado seleccionará a los 3 equipos ganadores,
        quienes recibirán sus respectivos premios.
      </p>
    </div>
  </div>
</section>
