---
import { Image } from "astro:assets";
import NovaAcademyLogoImage from "../../public/logo-nova-academy-blanco.png";
---

<footer class="text-white">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      href="/"
      class="flex items-center md:justify-start justify-center text-neutral-900"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1016 333"
        fill="none"
        class="w-auto h-10 object-cover"
        ><g clip-path="url(#a)"
          ><path
            fill="#00F483"
            stroke="#00F483"
            stroke-miterlimit="10"
            stroke-width=".75"
            d="M685.06 147.45h-24.38v80.31H640.6v-80.31h-24.38v-20.08h68.84v20.08ZM728.08 147.45v17.64h43.03v20.08h-43.03v22.52h48.76v20.08H708V127.38h68.84v20.08h-48.76v-.01ZM848.55 156.05c0-4.88-3.73-8.6-8.61-8.6h-11.47c-4.88 0-8.61 3.87-8.61 8.6v42.88c0 4.73 3.87 8.6 8.61 8.6h11.47c4.73 0 8.61-3.87 8.61-8.6v-7.89h20.08v7.89c0 15.92-12.91 28.83-28.68 28.83h-11.47c-15.78 0-28.68-13.05-28.68-28.83v-42.88c0-15.78 12.91-28.68 28.68-28.68h11.47c15.92 0 28.68 12.76 28.68 28.68v7.89h-20.08v-7.89Z"
          ></path><mask
            id="b"
            width="384"
            height="394"
            x="697"
            y="-30"
            maskUnits="userSpaceOnUse"
            style="mask-type:luminance"
            ><path
              fill="#fff"
              d="M697.22 90.28h124.92l69.28 14.7 36.74 68.08-24.92 59.31-56.32 24.83-123.21 41.99 41.75 64.03 212.05-31.49s102.87-107.07 102.87-110.22c0-3.15-7.35-205.75-7.35-205.75L928.17-29.38 765.46-8.39l-68.23 98.67h-.01Z"
            ></path></mask
          ><g mask="url(#b)"
            ><path
              fill="#fff"
              d="M850.05 272.99c55.1-1.55 98.67-47.65 97.11-102.75-1.55-55.1-47.65-98.67-102.75-97.11-55.1 1.55-98.67 47.65-97.11 102.75 1.55 55.1 47.65 98.67 102.75 97.11Zm-5.56-197.41c53.75-1.52 98.71 40.98 100.23 94.73 1.52 53.75-40.98 98.71-94.73 100.23-53.75 1.52-98.71-40.98-100.23-94.73-1.52-53.75 40.98-98.71 94.73-100.23Z"
            ></path><path
              fill="#5300E8"
              d="M850.39 294.4c68.02-1.92 121.61-58.61 119.69-126.63-1.92-68.02-58.61-121.61-126.63-119.69-68.02 1.92-121.61 58.61-119.69 126.63 1.92 68.02 58.61 121.61 126.63 119.69Zm-6.56-232.79c60.45-1.7 111.01 46.09 112.72 106.54 1.7 60.45-46.09 111.01-106.54 112.72-60.45 1.7-111.01-46.09-112.72-106.54-1.7-60.45 46.09-111.01 106.54-112.72Z"
            ></path><path
              fill="#00F483"
              stroke="#00F483"
              stroke-miterlimit="10"
              stroke-width="4"
              d="m881.03 318.52-.64-2.78c66.78-15.35 115.98-75.87 114.73-146.79l8.33-.23c-.01-.77-.01-1.55-.04-2.32-2.41-85.35-73.55-152.59-158.9-150.19-10.52.3-20.76 1.64-30.63 3.92l1.59 6.87c-66.14 14.49-115.4 73.19-116.22 142.71l-7.79.22c.01.77.01 1.55.04 2.32 2.41 85.35 73.55 152.59 158.9 150.19 10.52-.3 20.76-1.64 30.63-3.92ZM816.29 30.55l1.42 6.16c8.8-2.04 17.92-3.24 27.28-3.51 75.85-2.14 139.3 57.83 141.44 133.68.02.78.03 1.55.04 2.32l5.03-.14c1.2 69.15-46.79 128.17-111.92 143.14l-2.37-10.25c-8.8 2.04-17.92 3.24-27.29 3.51-75.85 2.14-139.3-57.83-141.44-133.68-.02-.78-.03-1.55-.04-2.32l-5.57.16c.87-67.76 48.92-124.96 113.41-139.07h.01Z"
            ></path></g
          ><path
            fill="#fff"
            d="M10.72 230.28V124.95H25v105.33H10.72ZM120.01 230.28l-56.36-89.71c.1 2.44.22 4.86.37 7.25.1 2.04.19 4.2.26 6.47.07 2.27.11 4.27.11 6.02v69.97H51.68V124.95h16.6l56.96 90.3-.45-7.33c-.1-2.09-.2-4.37-.3-6.84-.1-2.47-.15-4.82-.15-7.06v-69.07h12.86v105.33h-17.19ZM244.78 201.2c0 4.44-.86 8.52-2.58 12.26-1.72 3.74-4.37 6.97-7.96 9.68-3.59 2.72-8.11 4.83-13.57 6.35-5.46 1.52-11.92 2.28-19.4 2.28-13.11 0-23.32-2.29-30.65-6.88-7.33-4.58-11.99-11.21-13.98-19.89l13.83-2.77c.7 2.74 1.77 5.23 3.21 7.48 1.44 2.24 3.4 4.17 5.87 5.79s5.52 2.88 9.16 3.77c3.64.9 8 1.35 13.08 1.35 4.24 0 8.12-.36 11.66-1.08 3.54-.72 6.58-1.83 9.12-3.33 2.54-1.5 4.52-3.43 5.94-5.79 1.42-2.37 2.13-5.2 2.13-8.48 0-3.28-.78-6.23-2.35-8.37-1.57-2.14-3.78-3.91-6.62-5.31-2.84-1.39-6.23-2.57-10.17-3.51-3.94-.95-8.3-1.97-13.08-3.06-2.94-.65-5.89-1.36-8.86-2.13-2.97-.77-5.81-1.69-8.52-2.77a50.944 50.944 0 0 1-7.66-3.77c-2.39-1.44-4.46-3.18-6.2-5.2-1.75-2.02-3.12-4.36-4.11-7.03-1-2.67-1.5-5.74-1.5-9.23 0-4.98 1.01-9.26 3.03-12.82 2.02-3.56 4.82-6.49 8.41-8.78 3.59-2.29 7.82-3.96 12.71-5.01 4.88-1.05 10.17-1.57 15.85-1.57 6.53 0 12.11.51 16.75 1.53 4.63 1.02 8.55 2.55 11.74 4.6 3.19 2.04 5.74 4.57 7.66 7.59 1.92 3.02 3.45 6.52 4.6 10.5l-14.05 2.47c-.7-2.54-1.71-4.81-3.03-6.8-1.32-1.99-3.05-3.66-5.2-5.01-2.14-1.35-4.75-2.37-7.81-3.06-3.06-.7-6.67-1.05-10.8-1.05-4.88 0-8.98.44-12.3 1.31-3.31.87-5.98 2.06-8 3.55-2.02 1.5-3.46 3.25-4.34 5.27-.87 2.02-1.31 4.2-1.31 6.54 0 3.14.79 5.72 2.35 7.74 1.57 2.02 3.7 3.7 6.39 5.05 2.69 1.35 5.81 2.47 9.34 3.36 3.54.9 7.3 1.79 11.29 2.69 3.24.75 6.47 1.51 9.68 2.28 3.21.77 6.29 1.69 9.23 2.77 2.94 1.07 5.69 2.33 8.26 3.78 2.57 1.45 4.8 3.21 6.69 5.31 1.89 2.09 3.38 4.56 4.45 7.4 1.07 2.84 1.61 6.18 1.61 10.02l.01-.02ZM345.84 156.65c0 4.59-.76 8.86-2.28 12.82-1.52 3.96-3.79 7.4-6.8 10.32-3.02 2.92-6.79 5.22-11.33 6.91-4.54 1.69-9.82 2.54-15.85 2.54h-30.95v41.04h-14.28V124.95h44.33c6.23 0 11.66.76 16.3 2.28 4.63 1.52 8.5 3.66 11.59 6.43 3.09 2.77 5.41 6.11 6.95 10.02 1.54 3.91 2.32 8.24 2.32 12.97Zm-14.35.15c0-6.68-2.04-11.75-6.13-15.21-4.09-3.46-10.22-5.2-18.39-5.2h-28.33v41.56h28.93c8.22 0 14.27-1.82 18.13-5.46 3.86-3.64 5.79-8.87 5.79-15.7v.01ZM368.05 230.28V124.95h14.28v105.33h-14.28ZM483.47 230.28l-27.36-43.73h-32.82v43.73h-14.28V124.95h49.56c5.98 0 11.27.69 15.89 2.06 4.61 1.37 8.48 3.35 11.62 5.94 3.14 2.59 5.53 5.76 7.18 9.49 1.65 3.73 2.47 7.95 2.47 12.63 0 3.34-.49 6.63-1.46 9.87-.97 3.24-2.5 6.2-4.6 8.9-2.09 2.69-4.76 5.01-8 6.95-3.24 1.94-7.13 3.31-11.66 4.11l29.9 45.38h-16.45.01Zm-2.1-75.05c0-3.19-.55-5.96-1.64-8.3a15.47 15.47 0 0 0-4.78-5.87c-2.09-1.57-4.63-2.74-7.62-3.51-2.99-.77-6.38-1.16-10.17-1.16H423.3v38.87h34.46c4.09 0 7.62-.51 10.61-1.53 2.99-1.02 5.44-2.43 7.36-4.22 1.92-1.79 3.34-3.91 4.26-6.35.92-2.44 1.38-5.08 1.38-7.92v-.01ZM594.25 230.28l-12.04-30.8h-47.99l-12.11 30.8h-14.8l42.98-105.33h16.22l42.31 105.33h-14.58.01Zm-29.82-76.7c-.8-1.99-1.56-4.01-2.28-6.05-.72-2.04-1.36-3.9-1.91-5.57-.55-1.67-1.01-3.06-1.38-4.19-.37-1.12-.59-1.81-.63-2.06-.1.25-.33.95-.67 2.09-.35 1.15-.81 2.57-1.38 4.26-.57 1.69-1.22 3.56-1.94 5.61a331.1 331.1 0 0 1-2.21 6.06l-13.46 34.61h39.4l-13.53-34.76h-.01Z"
          ></path><path
            fill="#00F483"
            d="M28.01 295.24v3.46c0 4.39-3.51 7.9-7.9 7.9H8.26v-34.56h10.86c4.4 0 7.9 3.51 7.9 7.9v2.47c0 2.47-1.09 4.64-2.81 6.07a7.855 7.855 0 0 1 3.8 6.76Zm-16.79-20.25v12.34h7.9c2.77 0 4.94-2.17 4.94-4.94v-2.47c0-2.76-2.17-4.94-4.94-4.94h-7.9v.01Zm13.83 20.25c0-2.77-2.17-4.94-4.94-4.94h-8.89v13.33h8.89c2.77 0 4.94-2.17 4.94-4.94v-3.46.01ZM55.66 272.03v10.91l-8.39 11.01v12.64h-2.96v-12.64l-8.39-10.42v-11.5h2.96v10.42l6.86 8.54h.05l6.91-9.04v-9.92h2.96ZM102.56 274.99v28.64h8.39v2.96H91.2v-2.96h8.39v-28.64H91.2v-2.96h19.75v2.96h-8.39ZM138.6 279.93v18.71c0 4.35-3.56 7.95-7.9 7.95h-11.85v-34.56h11.85c4.35 0 7.9 3.51 7.9 7.9Zm-2.96 0c0-2.76-2.17-4.94-4.94-4.94h-8.89v28.59h8.89a4.95 4.95 0 0 0 4.94-4.94v-18.71ZM166.25 295.29v11.31h-2.96v-9.18h-13.83v9.18h-2.96v-11.31l8.1-23.26h3.55l8.1 23.26Zm-16.3-.84h12.89l-6.22-18.02h-.44l-6.22 18.02h-.01ZM193.89 274.99h-8.39v31.6h-2.96v-31.6h-8.39v-2.96h19.75v2.96h-.01ZM247.21 291.93v2.96h-15.8v-2.96h15.8ZM304.48 279.93v2.96c0 4.39-3.51 7.9-7.9 7.9h-8.89v15.8h-2.96v-34.56h11.85c4.39 0 7.9 3.51 7.9 7.9Zm-2.96 0c0-2.76-2.17-4.94-4.94-4.94h-8.89v12.84h8.89c2.77 0 4.94-2.17 4.94-4.94v-2.96ZM332.13 295.29v11.31h-2.96v-9.18h-13.83v9.18h-2.96v-11.31l8.1-23.26h3.56l8.1 23.26h-.01Zm-16.29-.84h12.89l-6.22-18.02h-.44l-6.22 18.02h-.01ZM356.82 279.93c0-2.76-2.17-4.94-4.94-4.94h-3.95c-2.77 0-4.94 2.17-4.94 4.94v18.71a4.95 4.95 0 0 0 4.94 4.94h3.95a4.95 4.95 0 0 0 4.94-4.94v-2.71h2.96v2.71c0 4.35-3.51 7.95-7.9 7.95h-3.95c-4.35 0-7.9-3.6-7.9-7.95v-18.71c0-4.39 3.56-7.9 7.9-7.9h3.95c4.39 0 7.9 3.51 7.9 7.9v2.72h-2.96v-2.72ZM387.43 272.03v34.56h-2.96v-16.54h-13.83v16.54h-2.96v-34.56h2.96v15.06h13.83v-15.06h2.96ZM415.07 295.29v11.31h-2.96v-9.18h-13.83v9.18h-2.96v-11.31l8.1-23.26h3.55l8.1 23.26Zm-16.29-.84h12.89l-6.22-18.02h-.44l-6.22 18.02h-.01ZM439.21 305.26l3.51 5.73-2.62 1.43-3.7-5.97c-.49.1-1.04.15-1.58.15h-3.95c-4.35 0-7.9-3.6-7.9-7.95v-18.71c0-4.39 3.56-7.9 7.9-7.9h3.95c4.39 0 7.9 3.51 7.9 7.9v18.71c0 2.77-1.38 5.19-3.51 6.62v-.01Zm.55-25.33c0-2.76-2.17-4.94-4.94-4.94h-3.95c-2.77 0-4.94 2.17-4.94 4.94v18.71a4.95 4.95 0 0 0 4.94 4.94h3.95a4.95 4.95 0 0 0 4.94-4.94v-18.71ZM470.37 274.99h-8.39v31.6h-2.96v-31.6h-8.39v-2.96h19.75v2.96h-.01ZM481.23 274.99v11.75h14.81v2.96h-14.81v13.92h16.79v2.96h-19.75v-34.56h19.75v2.96h-16.79v.01ZM522.7 279.93c0-2.76-2.17-4.94-4.94-4.94h-3.95c-2.77 0-4.94 2.17-4.94 4.94v18.71a4.95 4.95 0 0 0 4.94 4.94h3.95a4.95 4.95 0 0 0 4.94-4.94v-2.71h2.96v2.71c0 4.35-3.5 7.95-7.9 7.95h-3.95c-4.35 0-7.9-3.6-7.9-7.95v-18.71c0-4.39 3.55-7.9 7.9-7.9h3.95c4.4 0 7.9 3.51 7.9 7.9v2.72h-2.96v-2.72Z"
          ></path></g
        ><defs
          ><clipPath id="a"
            ><path fill="#fff" d="M0 0h1015.15v332.94H0z"></path></clipPath
          ></defs
        ></svg
      >
    </a>

    <p
      class="text-sm text-neutral-100 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-neutral-800 sm:py-2 sm:mt-0 mt-4 text-center"
    >
      © {new Date().getFullYear().toString()} InspiraTEC — Todos los derechos reservados.
    </p>
    <div
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start gap gap-3"
    >
      <a
        href="https://www.facebook.com/pachaqtec"
        target="_blank"
        class="text-neutral-300 transition-colors hover:text-white"
      >
        <svg
          fill="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
          ></path>
        </svg>
      </a>
      <a
        href="https://discord.com/invite/J7WkcaJAu5"
        target="_blank"
        class="text-neutral-300 transition-colors hover:text-white"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 640 512"
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"
          ></path></svg
        >
      </a>
      <a
        href="https://www.instagram.com/pachaqtecacademy/"
        target="_blank"
        class="text-neutral-300 transition-colors hover:text-white"
      >
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
          ></path>
        </svg>
      </a>
      <a
        href="https://www.linkedin.com/school/pachaqtec/"
        target="_blank"
        class="text-neutral-300 transition-colors hover:text-white"
      >
        <svg
          fill="currentColor"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            stroke="none"
            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
          ></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </div>
  </div>
</footer>

<div class="bg-brand1">
  <div
    class="mx-auto container px-5 py-8 flex flex-col md:flex-row gap-4 items-center justify-between"
  >
    <div>
      <p>Somos parte de</p><svg
        fill="none"
        height="26"
        viewBox="0 0 106 22"
        width="130"
        ><path
          d="M55.9551 6.6973C52.757 6.70412 50.4877 8.99366 50.4809 12.7163C50.4809 16.108 53.1991 18.2167 55.9791 18.2201C57.6313 18.2201 58.6597 17.9676 59.2561 17.4797V15.5961C58.406 16.0124 57.3982 16.1455 56.507 16.1455C54.7931 16.1489 53.4151 15.2174 53.1923 13.7229L53.1717 13.5898H55.1736C57.052 13.5932 58.3786 13.4192 59.2116 13.0063C60.0445 12.5935 60.4079 11.969 60.4113 10.9591C60.4079 8.32489 58.2758 6.70071 55.9551 6.6973ZM57.2577 11.5767C56.7401 11.7575 55.9071 11.8257 54.5566 11.8292H53.1649L53.1717 11.7063L53.1923 11.3276C53.254 9.97977 54.2549 8.80941 55.7049 8.80941C56.3768 8.80941 56.9423 8.95613 57.3468 9.2564C57.7547 9.56008 57.9844 10.0275 57.981 10.6213C57.9878 11.0546 57.7787 11.4026 57.2577 11.5767ZM61.7893 10.9966V18.029H64.4116V11.4982C64.415 10.6247 64.5898 9.99683 64.9498 9.57373C65.3097 9.15745 65.8444 8.97319 66.4991 8.97319C66.7665 8.97319 66.9996 8.99708 67.2121 9.03461V6.96344C66.8796 6.79625 66.4477 6.69047 65.8821 6.69047C62.9445 6.6973 61.7996 8.76846 61.7893 10.9966ZM27.2744 3.8584V18.029H29.8933V3.8584H27.2744ZM36.9581 6.6973C33.4617 6.70412 31.9397 9.08238 31.926 11.4197V18.029H34.5311V11.6108C34.5311 10.785 34.7471 10.1197 35.1344 9.66244C35.5218 9.2018 36.0805 8.95954 36.725 8.95954C37.4757 8.95954 38.0927 9.17451 38.5143 9.65562C38.9325 10.1367 39.1484 10.8533 39.1484 11.8189L39.1519 18.029H41.7536V11.5698C41.7502 8.42043 39.5941 6.70412 36.9581 6.6973ZM46.3606 3.8584H43.7692L43.776 14.0846C43.7897 16.6778 45.1026 18.2098 47.9374 18.2201C49.1406 18.2201 49.8639 17.8311 50.1621 17.2067V15.5927C49.6959 15.7975 49.0617 15.8896 48.2768 15.8896C47.6872 15.8896 47.197 15.7395 46.8611 15.3846C46.5251 15.0297 46.3572 14.4906 46.3572 13.7399V8.95954H48.6298C49.7405 8.95954 50.2066 8.25323 50.2066 7.73459V6.6973H46.3572V3.8584H46.3606Z"
          fill="#FFF"></path><path
          clip-rule="evenodd"
          d="M3.52978 0.818115C2.03181 0.818115 0.818359 2.03625 0.818359 3.53418V21.0521H18.434C19.932 21.0521 21.1489 19.8374 21.1489 18.3394L21.1523 0.818115H3.52978ZM16.3979 15.4255L5.56249 17.3738V6.48909L16.3979 4.54076V15.4255Z"
          fill="#FFF"
          fill-rule="evenodd"></path><path
          d="M89.1025 10.9692V17.9948H91.7248V11.4742C91.7248 10.6007 91.8996 9.96946 92.2596 9.55318C92.6195 9.13348 93.1542 8.94923 93.8055 8.95264C94.0763 8.95264 94.3094 8.97312 94.5219 9.01065V6.94289C94.1929 6.7757 93.761 6.66992 93.1954 6.66992C90.2611 6.67675 89.1128 8.7445 89.1025 10.9692Z"
          fill="#FFF"></path><path
          d="M82.6753 6.66992C79.2338 6.66992 77.3999 9.34504 77.3999 12.6753C77.3999 15.6165 79.2338 18.1074 82.4388 18.1074C85.8804 18.1074 87.7177 15.6165 87.7177 12.2863C87.7177 9.34504 85.8769 6.66992 82.6753 6.66992ZM82.6788 15.7394C80.8689 15.7394 80.0736 14.5451 80.0736 12.2761C80.0736 10.3926 80.8689 9.03453 82.4354 9.03453C84.2281 9.03453 85.044 10.3892 85.044 12.6787C85.044 14.5451 84.2693 15.7394 82.6788 15.7394Z"
          fill="#FFF"></path><path
          d="M70.7771 13.0472L70.7942 13.1803C71.0171 14.6714 72.1791 15.9782 73.8896 15.9748C74.7808 15.9748 75.7852 15.8417 76.6353 15.4255V17.2032C76.0388 17.6877 75.0105 18.1791 73.3617 18.1791C70.5851 18.1756 67.8086 16.0704 67.8086 12.6855C67.8154 8.96629 70.143 6.67333 73.3411 6.66992C73.3446 6.66992 73.3446 6.67333 73.3446 6.67333C73.3514 6.67333 73.3548 6.66992 73.3617 6.66992C75.0105 6.66992 76.0388 7.14421 76.6353 7.62873V9.42693C75.7886 9.01065 74.7808 8.87416 73.8896 8.87416C72.1859 8.87416 71.0033 10.1605 70.7702 11.638C70.6503 12.3887 70.7771 13.0472 70.7771 13.0472Z"
          fill="#FFF"></path><path
          d="M100.668 6.77905C96.8835 6.77905 95.2896 9.34839 95.2896 13.054V19.2538C95.2896 20.4515 96.2082 21.1817 97.1611 21.1817H97.9975C97.9975 21.1817 97.9975 18.3598 97.9975 16.8039C98.5323 17.7559 99.5126 18.3053 100.706 18.3053C103.832 18.3053 105.546 15.8724 105.546 12.2862C105.546 9.47123 103.516 6.77905 100.668 6.77905ZM100.61 15.9952C99.0156 15.9952 97.9633 14.7327 97.9633 12.491C97.9633 10.5665 98.7791 9.24262 100.253 9.24262C101.964 9.24262 102.803 10.3823 102.803 
    13.013C102.8 14.7942 101.902 15.9952 100.61 15.9952Z"
          fill="#FFF"></path></svg
      >
    </div>

    <p class="text-center uppercase">IDAT S.A.C. RUC: 20605391738</p>
  </div>
</div>

<div class="bg-black">
  <div
    class="mx-auto container px-5 py-8 flex flex-col md:flex-row gap-2 items-center justify-center"
  >
    <p class="uppercase">En colaboración con</p>
    <Image
      src={NovaAcademyLogoImage}
      class="w-auto h-10 object-cover"
      alt="Nova Academy"
    />
  </div>
</div>
