---
import { Marquee } from "./Marquee";
import MentorItem from "./MentorItem.astro";
import { TypingAnimation } from "./TypingAnimation";

const jury = [
  {
    name: "María Angela Prialé",
    body: "Vicedecana carrera de Administración, UP.",
    img: "/jurados/maría-angela-prialé.jpg",
  },
  {
    name: "Patrick Huggard-Caine",
    body: "Director Corporativo en REF.",
    img: "/jurados/patrick-huggard-caine-cardó-2.jpg",
  },
  {
    name: "Ricardo Arboccó Illescas",
    body: "Gerente Global de Transformación Digital, Grupo AJE.",
    img: "/jurados/ricardo-c-arboccó-Illescas.jpg",
  },
  {
    name: "Roy Pérez Pichis",
    body: "Magister en Dirección de Sistemas y Tecnologías de la Información.",
    img: "/jurados/roy-pérez-pichis-1.jpg",
  },
  {
    name: "Silvana De los Heros Salazar",
    body: "Gerenta de Comunicaciones y Sostenibilidad en InLearning.",
    img: "/jurados/silvana-sonia-de-los-heros-salazar-2.jpg",
  },
];
---

<section id="jury">
  <div class="mx-auto flex max-w-screen-xl flex-col gap-8 px-4 pt-7 md:px-8">
    <div class="mx-auto max-w-5xl text-center">
      <TypingAnimation
        client:visible
        className="text-3xl font-bold tracking-tight text-white md:text-5xl"
        text="<Jurados/>"
      />

      <p class="mt-6 text-base leading-8 text-white/80">
        Los equipos finalistas serán evaluados por <strong
          >jurados expertos</strong
        > en Tecnología y Sostenibilidad.
      </p>
    </div>
  </div>

  <div
    class="relative flex w-full flex-col items-center justify-center overflow-hidden pt-7 py-14"
  >
    <Marquee client:visible pauseOnHover className="[--duration:20s]">
      {
        jury.map((juryItem) => (
          <MentorItem
            img={juryItem.img}
            name={juryItem.name}
            body={juryItem.body}
          />
        ))
      }
    </Marquee>
    <div
      class="pointer-events-none absolute inset-y-0 left-0 w-1/3 bg-gradient-to-r from-black"
    >
    </div>
    <div
      class="pointer-events-none absolute inset-y-0 right-0 w-1/3 bg-gradient-to-l from-black"
    >
    </div>
  </div>
</section>
