---
import ScheduleItem from "./ScheduleItem.astro";
import { TypingAnimation } from "./TypingAnimation";

const schedules = [
  {
    title: "<Inscripción>",
    description: "Desde el 28 de octubre hasta el 18 de noviembre.",
  },
  {
    title: "<PRE-SELECCIÓN DE 16 EQUIPOS>",
    description: "Desde el 19 al 22 de noviembre.",
  },
  {
    title: "<INAUGURACIÓN Y CAPACITACIÓN>",
    description: "Desde el 25 al 29 de noviembre.",
  },
  {
    title: "<DESARROLLO DEL PROYECTO (HACKATHON)>",
    description: "Desde el 29 al 30 de noviembre.",
  },
  {
    title: "<EVALUACIÓN FINAL Y PREMIACIÓN>",
    description: "2 de diciembre.",
  },
];
---

<section id="schedule">
  <div class="mx-auto flex max-w-screen-xl flex-col gap-8 px-4 py-14 md:px-8">
    <div class="mx-auto max-w-5xl text-center">
      <TypingAnimation
        client:visible
        className="text-3xl font-bold tracking-tight text-white md:text-5xl"
        text="<Etapas/>"
      />

      <p class="mt-6 text-base text-white/80">
        El concurso se llevará a cabo de manera virtual, permitiendo la
        participación de personas de Lima y provincias. La premiación final se
        realizará de manera presencial en Lima el día 25 de noviembre de 2024.
      </p>
    </div>

    <div class="flex flex-wrap justify-center gap-4">
      {
        schedules.map((schedule, index) => (
          <ScheduleItem
            index={index + 1}
            title={schedule.title}
            description={schedule.description}
          />
        ))
      }
    </div>
  </div>
</section>
