---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-black text-white font-supply scroll-smooth">
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Supply";
    src: url("/Supply-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Supply";
    src: url("/Supply-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
  }
</style>
